body {
    width: 100vw;
    height: 100vh;
    
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: white;
    color: hsl(218, 22%, 67%);    
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    justify-content: flex-start;
    padding: 2.5rem 6rem 2.5rem 2.5rem;
    line-height: 1.5;
}

header h1 {    
    color: hsl(179, 62%, 43%);
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 1.875rem;
}

#promo {
    color: hsl(71, 73%, 54%);
    font-weight: bold;
    padding-bottom: 0.9375rem;
}

ul {
    display: flex;
    font-weight: bold;    
}

.sign-up {            
    background-color: #2bb3b1;  
    color: #a7dfe4;
    padding: 2.5rem 2.5rem 0.5rem 2.5rem;  
    border-bottom-left-radius: 0.625rem;    
}

.sign-up h2 {
    color: #c7ebec;
    padding-bottom: 0.9375rem;
}

#price {
    color: #67cbd3;
    padding-bottom: 0.625rem;
    display: flex;
    align-items: center;
}

#price strong {
    color: white;
    font-size: 1.875rem;
    padding-right: 0.8rem;
}

.sign-up button {
    margin: 2.5rem 0 1.875rem 0;
    padding: 0.9375rem 3.125rem;
    font-size: 1.0625rem; 
    width: 100%;
    background-color: #bfdf32;
    color: #fafdf3;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: 0.5s all;
    
}

.sign-up button:hover {
    background-color: #a6c424;
    transform: scale(1.05);
}

.why-us {
    background-color: #4abebd;
    color: #9cdedb; 
    padding: 1.5rem 6.3rem 2.5rem 2.5rem;
    border-bottom-right-radius: 0.625rem; 
    line-height: 1.5;  
}

.why-us h2 {
    color: #e7eff7;
    padding-bottom: 0.9375rem;
    padding-top: 0.9rem;
}

.why-us p {
    font-size: 0.9rem;
}